reportDir = #location all reports will be saved

dbHost = #opendb ip address or FQDN
dbPort = #port to connect to on db server
dbUser = #username to connect with
dbPass = #password to connect with

#OPTIONAL KEYS, REMOVE OR COMMENT OUT IF NOT USING SSH TUNNELING
sshHost = #address of ssh proxy
sshPort = #port to connect to on proxy, defaults to 22 if not specified
localPort = #port to tunnel to locally, defaults to 1521 if not specified
sshUser = #username on ssh proxy
sshPass = #password on ssh proxy
